﻿@model TradeLogisticsPlus.ViewModels.RegisterUser
@using TradeLogisticsPlus.Models;

@{
    ViewData["Title"] = "Регистрация";
}

<br /><p>Если вы уже регистрировались, то <a asp-action="Login" asp-controller="Account">авторизуйтесь</a></p>

<h2>Регисрация в системе Trade Logistics Plus</h2>
<form class="form-horizontal" asp-action="Register" asp-controller="Account" asp-anti-forgery="true" enctype="multipart/form-data" method="post">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div class="form-group">
        <label class="control-label col-xs-3" asp-for="SurName">Фамилия:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" placeholder="Введите фамилию" asp-for="SurName" />
            <span class="form-horizontal" method="post" asp-validation-for="SurName" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" asp-for="Name">Имя:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" placeholder="Введите имя" asp-for="Name" />
            <span asp-validation-for="Name" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" asp-for="MiddleName">Отчество:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" placeholder="Введите отчество" asp-for="MiddleName" />
            <span asp-validation-for="MiddleName" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" asp-for="BirthDay">Дата рождения:</label>
        <div class="col-xs-9">
            <input type="date" class="form-control" asp-for="BirthDay" />
            <span asp-validation-for="BirthDay" />
        </div>
    </div>
    <hr />
    <div class="form-group">
        <label class="control-label col-xs-3" asp-for="Avatar">Аватар:</label>
        <div class="col-xs-9">
            <input type="file" class="form-control" asp-for="Avatar" />
            <span asp-validation-for="Avatar" />
        </div>
    </div>
    <hr />
    <div class="form-group">
        <label class="control-label col-xs-3" asp-for="Phone">Телефон:</label>
        <div class="col-xs-9">
            <input id="phone" class="form-control" placeholder="Введите телефон" type="tel" pattern="+7\(\d\d\d\) ?\d\d\d-\d\d-\d\d" asp-for="Phone" />
            <span asp-validation-for="Phone" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" asp-for="PositionHeld">Должность:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" placeholder="Введите должность" asp-for="PositionHeld" />
            <span asp-validation-for="PositionHeld" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" asp-for="PositionHeld">Кем вы являетесь:</label>
        <div class="col-xs-9">
            <select class="form-control" name="TypeUserId">
                @foreach (TypeUser type in ViewBag.TypesUsers)
                {
                    <option value=@type.Id>@type.Name</option>
                }
            </select>
            <span asp-validation-for="TypeUserId" />
        </div>
    </div>
    <hr />
    <div class="form-group">
        <label class="control-label col-xs-3" asp-for="Email">Email:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" placeholder="Введите Email" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" asp-for="Login">Логин:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" placeholder="Введите логин" asp-for="Login" />
            <span asp-validation-for="Login" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" asp-for="Password">Пароль:</label>
        <div class="col-xs-9">
            <input asp-for="Password" class="form-control" placeholder="Введите пароль" />
            <span asp-validation-for="Password" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3"></label>
        <div class="col-xs-9">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Введите пароль ещё раз" />
            <span asp-validation-for="ConfirmPassword" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-push-4 form-group">
            <input type="submit" class="btn btn-success" value="Зарегистрироваться" />
        </div>
        <div class="col-md-2 col-md-pull-2 form-group">
            <input type="reset" class="btn btn-default" value="Очистить форму" />
        </div>
    </div>
</form>

@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/js/jquery.maskedinput.js"></script>
    <script>
        jQuery(function ($) { $("#phone").mask("+7(999) 999-99-99"); });
    </script>

    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>
}