﻿@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Данный сервис был разработан в рамках выпускной квалификационной работы</p>
<p><strong>Научный руководитель: </strong> Борисова С. В.</p>
<p><strong>Студент: </strong>Тетеркин И. А.</p>

<address>
    <strong>Поддержка:</strong> <a href="mailto:teterkinigor499@gmail.com">teterkinigor499@gmail.com</a><br />
</address>
