﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using TradeLogisticsPlus.Models;
@using System.Security.Claims;
@using Microsoft.EntityFrameworkCore;

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trade Logistics Plus</title>
   
    <environment names="Development">
        
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <link rel="stylesheet" href="~/css/bootstrap-select.min.css">
    </environment>
    <environment names="Staging,Production">

        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        
        

    </environment>
    <link href="~/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
    <style>
        .imgLogin {
            border: 1px solid #ecf0f1;
            overflow: hidden;
            object-fit: cover;
            height: 18px;
            width: 18px;
        }
        #report td {
            background: #eee;
            color: #000;
            padding-bottom: 5px;
            padding-left: 25px;
            margin-bottom: 5px;
        }

        #report tr.odd td {
            background: #fff;
            cursor: pointer;
        }

        #report div.up {
            background-position: 0px 0px;
        }

        ul.hr{
            margin: 0;
            padding-bottom: 15px;
        }
            ul.hr li {
                display: inline;
                margin-right: 5px;
                padding: 3px;
            }
    </style>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Кнопка с полосочками, которая открывает меню на мобильных устройствах -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Название сервиса + ссылка на главную страницу -->
                <a style="padding:10px 15px" asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img width="200" src="~/images/logo.svg" alt="Trade Logistics Plus" class="img-responsive" /></a>
            </div>
            <!--Содержание меню-->
            <div class="navbar-collapse collapse">
                <!--Ссылки слева-->
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">О системе</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Наши контакты</a></li>
                </ul>
                <!--Ссылки справа-->
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @ViewBag.login <img src="data:image/jpeg;base64,@(Convert.ToBase64String(ViewBag.avatar))" alt="Аватар" class="img-circle imgLogin">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Account" asp-action="Profile"><span class="glyphicon glyphicon-user"></span> Профиль</a></li>
                                <li class="divider"></li>
                                @if (ViewBag.TypeUser.Id == 1)
                                {
                                    <!--Создать представление для отображения заявок, которые взяты в работу, а также добавить функционал для поиска по всем заявкам-->
                                    <li><a asp-area="" asp-controller="Requests" asp-action="MyToTakeRequests"><span class="glyphicon glyphicon-share-alt"></span>  Заявки в работе @if (ViewBag.RequestsUser.Count!=0) { <span class="label label-danger">@ViewBag.RequestsUser.Count</span>}</a></li>
                                    <li><a asp-area="" asp-controller="Requests" asp-action="SearchRequests"><span class="glyphicon glyphicon-search"></span>  Поиск заявок</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-indent-right"></span>  Накладные</a></li>
                                }
                                else if (ViewBag.TypeUser.Id == 2)
                                {
                                    <!--создать представление и функционал для создания заявок-->
                                    <li><a asp-area="" asp-controller="Requests" asp-action="MyRequests"><span class="glyphicon glyphicon-th-list"></span>  Заявки @if (ViewBag.RequestsUser.Count!=0) { <span class="label label-danger">@ViewBag.RequestsUser.Count</span>}</a></li>
                                    <li><a asp-area="" asp-controller="Invalids" asp-action="MyInvalids"><span class="glyphicon glyphicon-indent-left"></span>  Накладные </a></li>
                                    <li><a asp-area="" asp-controller="Commoditys" asp-action="MyCommoditys"><span class="glyphicon glyphicon-import"></span>  Необходимые товары  @if (ViewBag.CommoditysUser.Count!=0) { <span class="label label-primary">@ViewBag.CommoditysUser.Count</span>}</a></li>
                                    <li><a asp-area="" asp-controller="Facilitys" asp-action="MyFacilitys"><span class="glyphicon glyphicon-record"></span>  Мои объекты @if (ViewBag.FacilitysUser.Count!=0) { <span class="label label-success">@ViewBag.FacilitysUser.Count</span>}</a></li>
                                    <li><a asp-area="" asp-controller="Addresses" asp-action="MyAddresses"><span class="glyphicon glyphicon-map-marker"></span>  Мои адреса @if (ViewBag.AddressesUser.Count!=0) { <span class="label label-warning">@ViewBag.AddressesUser.Count</span>}</a></li>
                                }
                                <li class="divider"></li>
                                <li><a asp-area="" asp-controller="Account" asp-action="Logout"><span class="glyphicon glyphicon-chevron-left"></span>  Выход</a></li>
                            </ul>
                        </li>
                    }
                    else if (!User.Identity.IsAuthenticated)
                    {
                        <li><a asp-area="" asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-chevron-right"></span>  Вход</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Trade Logistics Plus</p>
        </footer>
    </div>

    
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>

        <script src="~/js/bootstrap-select.min.js"></script>

    </environment>


    @RenderSection("Scripts", required: false)
</body>
</html>
