﻿@using TradeLogisticsPlus.Models;
@using Microsoft.EntityFrameworkCore;
@{
    ViewData["Title"] = "Мои объекты";
}
<h2>@ViewData["Title"]</h2>

@if (ViewBag.FacilitysUser.Count == 0)
{
    <p>У вас пока нет объектов</p>
}

@if (ViewBag.FacilitysUser.Count != 0)
{

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="fresh-table toolbar-color-blue">
                        <table id="fresh-table" class="table">
                            <thead>
                                <tr>
                                    <th data-field="id">ID</th>
                                    <th data-field="Name" data-sortable="true">Наименование</th>
                                    <th data-field="TypeFacilityId" data-sortable="true">Тип объекта</th>
                                    <th data-field="" data-sortable="true"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Facility FacilityUser in ViewBag.FacilitysUser)
                                {
                                    <tr>
                                        <td>@FacilityUser.Id</td>
                                        <td>@FacilityUser.Name</td>
                                        <td>
                                            @foreach (TypeFacility type in ViewBag.TypesFacilitys)
                                            {
                                                if (type.Id == FacilityUser.TypeFacilityId)
                                                {
                                                    @type.Name
                                                }
                                            }
                                        </td>

                                        <td>
                                            <form asp-controller="Facilitys" asp-action="FacilityDelete" asp-route-id="@FacilityUser.Id" method="post">
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<form asp-controller="Facilitys" asp-action="RegisterFacility" method="get">
    <button type="submit" class="btn btn-sm btn-success">
        <span class="glyphicon glyphicon-plus-sign"></span>  Новый объект
    </button>
</form>