﻿@model TradeLogisticsPlus.ViewModels.RegisterCommodity
@using TradeLogisticsPlus.Models;
@{
    ViewData["Title"] = "Добавление товара";
}
<h2>Добавление товара</h2>

    <form class="form-horizontal" asp-action="RegisterCommodity" asp-controller="Commoditys" asp-anti-forgery="true" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label class="control-label col-xs-3" asp-for="NameCommodity">Наименование:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" placeholder="Введите наименование" asp-for="NameCommodity" />
                <span asp-validation-for="NameCommodity" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3" asp-for="UnitId">Единицы измерения:</label>
            <div class="col-xs-9">
                <select class="form-control" name="UnitId">
                    <option value="0" disabled selected>Выберите ед. изм.</option>
                    @foreach (Unit unit in ViewBag.Units)
                    {
                        <option value=@unit.Id>@unit.Name</option>
                    }
                </select>
                <span asp-validation-for="UnitId" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3" asp-for="CostSectionId">Сектор затрат:</label>
            <div class="col-xs-9">
                <select class="form-control" name="CostSectionId">
                    <option value="0" disabled selected>Выберите категорию</option>
                    @foreach (CostSection coastSection in ViewBag.CostSections)
                    {
                        <option value=@coastSection.Id>@coastSection.Name</option>
                    }
                </select>
                <span asp-validation-for="CostSectionId" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-push-4 form-group">
                <input type="submit" class="btn btn-success" value="Добавить товар" />
            </div>
            <div class="col-md-2 col-md-pull-2 form-group">
                <input type="reset" class="btn btn-default" value="Очистить форму" />
            </div>
        </div>
    </form>

    @section scripts{
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="~/js/jquery.maskedinput.js"></script>

        <environment names="Development">
            <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                    asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.validator">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                    asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
            </script>
        </environment>
    }
