﻿@using TradeLogisticsPlus.Models;
@using Microsoft.EntityFrameworkCore;

@{
    ViewData["Title"] = "Товары в заявке";
}
<h2>@ViewData["Title"]</h2>

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="fresh-table toolbar-color-blue">
                        <table id="report" class="table">
                            <!--заголовок-->
                            <thead>
                                <tr>
                                    <th data-field="id">ID</th>
                                    <th data-field="Name" data-sortable="true">Наименование</th>
                                    <th data-field="CostSection" data-sortable="true">Сектор затрат</th>
                                    <th data-field="Amount" data-sortable="true">Количество</th>
                                    <th data-field="Unit" data-sortable="true">Ед. изм.</th>
                                    <th data-field="Price" data-sortable="true">Приемлемая цена</th>
                                    <th data-field="Comment" data-sortable="true">Комментарий</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--содержание-->
                                @foreach(CommodityInRequest commodityInRequest in ViewBag.CommoditysInRequest)
                                {
                                    <tr>
                                        <td>
                                            @foreach (Commodity commodity in ViewBag.Commoditys)
                                            {
                                                if (commodity.Id == commodityInRequest.GoodsId)
                                                {
                                                    @commodity.Id
                                                    break;
                                                }

                                            }
                                        </td>
                                        <td>
                                            @foreach (Commodity commodity in ViewBag.Commoditys)
                                            {
                                                if (commodity.Id == commodityInRequest.GoodsId)
                                                {
                                                    @commodity.Name
                                                    break;
                                                }

                                            }
                                        </td>

                                        <td>
                                            @foreach (Commodity commodity in ViewBag.Commoditys)
                                            {
                                                if (commodity.Id == commodityInRequest.GoodsId)
                                                {
                                                    foreach (CostSection costSection in ViewBag.CostSections)
                                                    {
                                                        if(commodity.CostSectionId == costSection.Id)
                                                        {
                                                            @costSection.Name
                                                            break;
                                                        }

                                                    }
                                                }

                                            }
                                        </td>

                                        <td>
                                            @commodityInRequest.Amount
                                        </td>
                                        <td>
                                            @foreach (Commodity commodity in ViewBag.Commoditys)
                                            {
                                                if (commodity.Id == commodityInRequest.GoodsId)
                                                {
                                                    foreach (Unit unit in ViewBag.Units)
                                                    {
                                                        if(unit.Id == commodity.UnitId)
                                                        {
                                                            @unit.Value
                                                            break;
                                                        }

                                                    }
                                                }

                                            }
                                        </td>
                                        <td>
                                            @commodityInRequest.Price
                                        </td>
                                        <td>
                                            @commodityInRequest.Comment
                                        </td/>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
@if (ViewBag.TypeUser.Id == 2)
{
    <form asp-controller="Requests" asp-action="MyRequests"  method="get">
        <button type="submit" class="btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-chevron-left"></span>  Обратно
        </button>
    </form>
}
@if (ViewBag.TypeUser.Id == 1)
{
    <form asp-controller="Requests" asp-action="MyToTakeRequests" method="get">
        <button type="submit" class="btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-chevron-left"></span>  Обратно
        </button>
    </form>
}
