﻿@model TradeLogisticsPlus.ViewModels.RegisterRequest
@using TradeLogisticsPlus.Models;

@{
    ViewData["Title"] = "Добавление заявки";
}
<h2>Добавление заявки</h2>

    <form class="form-horizontal" asp-action="RegisterRequest" asp-controller="Requests" asp-anti-forgery="true" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label class="control-label col-xs-3" asp-for="NameRequest">Наименование заявки:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" placeholder="Введите наименование" asp-for="NameRequest" />
                <span asp-validation-for="NameRequest" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" asp-for="FacilityId">Объект:</label>
            <div class="col-xs-9">
                <select class="form-control" name="FacilityId">
                    <option value="0" disabled selected>Выберите объект</option>
                    @foreach (Facility facality in @ViewBag.FacilitysUser)
                    {
                        <option value=@facality.Id>@facality.Name</option>
                    }
                </select>
                <span asp-validation-for="FacilityId" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" asp-for="DateOfDelivery">Желаемая дата исполнения:</label>
            <div class="col-xs-9">
                <input type="datetime-local" class="form-control" asp-for="DateOfDelivery" />
                <span asp-validation-for="DateOfDelivery" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3" asp-for="Urgency">Срочность выполнения:</label>
            <div class="col-xs-9">
                <select class="form-control" name="Urgency">
                    <option value=@false>Нет</option>
                    <option value=@true>Да</option>
                </select>
                <span asp-validation-for="Urgency" />
            </div>
        </div>
        

        <div class="row">
            <div class="col-md-4 col-md-push-4 form-group">
                <input type="submit" class="btn btn-success" value="Добавить заявку" />
            </div>
            <div class="col-md-2 col-md-pull-2 form-group">
                <input type="reset" class="btn btn-default" value="Очистить форму" />
            </div>
        </div>
    </form>

    @section scripts{
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="~/js/jquery.maskedinput.js"></script>

        <environment names="Development">
            <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                    asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.validator">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                    asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
            </script>
        </environment>
    }
