﻿@using TradeLogisticsPlus.Models;
@using Microsoft.EntityFrameworkCore;

@{
    ViewData["Title"] = "Все заявки";
}
<h2>@ViewData["Title"]</h2>

@if (ViewBag.PublisRequests.Count == 0)
{
    <p>Ни одна заявка не опубликована</p>
}
else
{
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="fresh-table toolbar-color-blue">
                        <table id="report" class="table">
                            <!--заголовок-->
                            <thead>
                                <tr>
                                    <th data-field="id">ID</th>
                                    <th data-field="Name" data-sortable="true">Наименование</th>
                                    <th data-field="FacilityId" data-sortable="true">Объект</th>
                                    <th data-field="Address" data-sortable="true">Адреса</th>
                                    <th data-field="DateOfCreation" data-sortable="true">Дата создания</th>
                                    <th data-field="DateOfDelivery" data-sortable="true">Желаемая дата исполнения</th>
                                    <th data-field="Urgency" data-sortable="true">Срочность</th>
                                    <th data-field="" data-sortable="true"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--содержание-->
                                @foreach (Request PublisRequest in ViewBag.PublisRequests)
                                {
                                    <!--главнай ряд-->
                                    <tr>
                                        <td>@PublisRequest.Id</td>
                                        <td>@PublisRequest.Name</td>
                                        <td>
                                            @foreach (Facility facility in ViewBag.Facilitys)
                                            {
                                                if (facility.Id == PublisRequest.ObjectId)
                                                {
                                                    @facility.Name
                                                    break;
                                                }
                                            }
                                        </td>

                                        <td>
                                            <form asp-controller="Requests" asp-action="AddressesRequest" asp-route-id="@PublisRequest.Id" method="get">
                                                <button type="submit" class="btn btn-sm btn-primary">
                                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                                </button>
                                            </form>
                                        </td>

                                        <td>@PublisRequest.DateOfCreation</td>
                                        <td>@PublisRequest.DateOfDelivery</td>
                                        <td>
                                            @if (PublisRequest.Urgency)
                                            {
                                                <span class="label label-warning">+</span>
                                            }
                                            else
                                            {
                                                <span class="label label-primary">-</span>
                                            }
                                        </td>
                                        <!--открывашка для товаров-->
                                        <td><div class="arrow"><span class="glyphicon glyphicon-chevron-down"></span></div></td>
                                    </tr>
                                    <!--вспомогательный ряд с товарами-->
                                    <tr>
                                        <td colspan="7">
                                            @{
                                                bool CommoditySInRequestShow = false;

                                                @foreach (CommodityInRequest commodityInRequest in ViewBag.CommoditysInRequests)
                                                {
                                                    if (commodityInRequest.RequestId == PublisRequest.Id)
                                                    {
                                                        // значит есть хотя бы один товар в данной заявке
                                                        CommoditySInRequestShow = true;
                                                        break;
                                                    }
                                                }

                                                if (CommoditySInRequestShow)
                                                {
                                                    <h4>Список товаров</h4>
                                                    <!--содержание-->
                                                    <div class="row">
                                                        @foreach (CommodityInRequest commodityInRequest in ViewBag.CommoditysInRequests)
                                                        {
                                                            if (commodityInRequest.RequestId == PublisRequest.Id)
                                                            {
                                                                <div class="col-sm-2 col-xs-12">
                                                                    @foreach (Commodity Commodity in ViewBag.Commoditys)
                                                                    {
                                                                        if (commodityInRequest.GoodsId == Commodity.Id)
                                                                        {

                                                                            <span class="label label-default">@Commodity.Name</span>
                                                                        }
                                                                    }
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                }
                                            }
                                            <br class="divider" />

                                            <div class="row">
                                                @foreach (CommodityInRequest commodityInRequest in ViewBag.CommoditysInRequests)
                                                {
                                                    if (commodityInRequest.RequestId == PublisRequest.Id)
                                                    {
                                                        <div class="col-md-9">
                                                            <div class="col-md-4 form-group">
                                                                <form asp-controller="Requests" asp-action="ToTakeRequest" asp-route-id="@PublisRequest.Id" method="post">
                                                                    <button type="submit" class="btn btn-sm btn-info">
                                                                        Взять в работу  <span class="glyphicon glyphicon-chevron-right"></span>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1 col-md-offset-1 form-group">
                                                            <form asp-controller="Requests" asp-action="InfoRequest" asp-route-id="@PublisRequest.Id" method="get">
                                                                <button type="submit" class="btn btn-sm btn-warning">
                                                                    <span class="glyphicon glyphicon-list"></span>   Подробно
                                                                </button>
                                                            </form>
                                                        </div>
                                                        break;
                                                    }


                                                }
                                            </div>
                                        <td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">

            $(document).ready(function(){
                $("#report tr:odd").addClass("odd");
                $("#report tr:not(.odd)").hide();
                $("#report tr:first-child").show();

                $("#report tr.odd").click(function(){
                    $(this).next("tr").toggle();
                    $(this).find(".arrow").toggleClass("up");
                });
                //$("#report").jExpand();
            });
    </script> 
}


